{% extends 'base.html' %}
{% block title %}
Start page
{% endblock %}
{% block content %}
    <div class="row font-bg">
        <div class="container">
            <div class="font-1"><p>Schocking<br>History</p></div>
            <div class="font-2"><p>Schocking<br>History</p></div>
            <div class="font-3"><p>Schocking<br>History</p></div>
            <div class="font-4"><p>Schocking<br>History</p></div>
            <div class="font-5"><p>Schocking<br>History</p></div>
            <div class="font-6"><p>Schocking<br>History</p></div>
        </div>
    </div>
{% endblock %}