{% extends 'base.html' %}
{% block title %}
Fonts Collection
{% endblock %}
{% block content %}
    <div class=" font-bg">
      <div class="font-description">
        1. Frijole
      </div>
      <div class="font-1 light-bg">Schocking History</div>
      <div class="font-description">
        2. Creepster
      </div>
      <div class="font-2 light-bg">Schocking History</div>
      <div class="font-description">
        3. Eater
      </div>
      <div class="font-3 light-bg">Schocking History</div>
      <div class="font-description">
        4. Barrio
      </div>
      <div class="font-4 light-bg">Schocking History</div>
      <div class="font-description">
        5. Caesar Dressing
      </div>
      <div class="font-5 light-bg">Schocking History</div>
      <div class="font-description">
        6. Jolly Lodger
      </div>
      <div class="font-6 light-bg">Schocking History</div>
    </div>
{% endblock %}
