{% extends 'base.html' %}
{% block title %}
Start page
{% endblock %}
{% block content %}
    <div class=" font-bg">
      <div class="font-description">
        1. Font <strong>Frijole</strong>
      </div>
      <div class="font-1">Schocking History</div>
      <div class="font-description">
        2. Font <strong>Creepster</strong>
      </div>
      <div class="font-2">Schocking History</div>
      <div class="font-description">
        3. Font <strong>Eater</strong>
      </div>
      <div class="font-3">Schocking History</div>
      <div class="font-description">
        4. Font <strong>Barrio</strong>
      </div>
      <div class="font-4">Schocking History</div>
      <div class="font-description">
        5. Font <strong>Caesar Dressing</strong>
      </div>
      <div class="font-5">Schocking History</div>
      <div class="font-description">
        6. Font <strong>Jolly Lodger</strong>
      </div>
      <div class="font-6">Schocking History</div>
    </div>
{% endblock %}
