{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Logos to Makarov
{% endblock %}
{% block content %}
<div class="row tg-image-block">
  <div class="container tg-image-block">
      <img class="tg-image" src="{% static 'img/kYH1COn2M0s.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/Schocking History61.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/sh-3.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/Schocking History65.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/123.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/Schocking History64.jpg' %}" alt="">
      <img class="tg-image" src="{% static '/img/Schocking History22.jpg' %}" alt="">
  </div>
</div>
{% endblock %}
